{% load staticfiles %}
<!DOCTYPE html>

<html>
<!-- Page header -->

<head>
	<title>personaLib</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	</link>

	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>

<!-- Page body -->

<body>
	<!-- menu panel -->
	{% csrf_token %}
	<div class="container-fluid">
		<p>personaLib</p>
	</div>

	<!-- initialization script -->
	<script type="text/javascript">
		//	init canvas
		//personaLibInit();
	</script>
</body>

</html>